/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  body {
    background: purple;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  body {
    background: red;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  body {
    background: green;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  body {
    background: blue;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  body {
    background: brown;
  }
}
