body {
  font-family: sans-serif;
}

#game {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: black;
}

#snake {
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
  left: 0;
  top: 0;
}

#score,
#speed {
  text-align: center;
}
