/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* CSS RESET */
body {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 2rem;
}

h1, h2, h3 {
	font-weight: lighter;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* VARIABLES */
:root {
  --dark: #24292f;
  --dark-50: #2a3138;
  --grey: #63686e;
  --grey-50: #b5b8ba;
  --green: #00c652;
  --white: #ffffff;
  --border-radius: 5px;
}

/* FORM */
input[type="text"] {
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #C4C4C4;
  border-radius: var(--border-radius);
}

label {
  color: var(--grey);
  margin-bottom: 10px;
  display: block;
}

/* BACKGROUNDS */
.bg-dark {
  background-color: var(--dark);
}

.bg-dark-50 {
  background-color: var(--dark-50);
}

.bg-grey-50 {
  background-color: var(--grey);
}

.bg-green {
  background-color: var(--green);
}

.bg-white {
  background-color: var(--white);
}

/* TEXT COLORS */
.color-white {
  color: var(--white);
}

.color-dark {
  color: var(--dark);
}

.color-dark-50 {
  color: var(--dark-50);
}

.color-grey-50 {
  color: var(--grey-50);
}

/* BUTTONS */
.btn {
	padding: 10px 30px;
	border-radius: var(--border-radius);
  text-decoration: none;
  display: inline-block;
}

.btn-block {
	display: block;
	text-align: center;
}

.btn-lg, .zoom {
	zoom: 1.2;
}

/* COMMON */
.display-flex {
  display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.padding-vertical {
	padding: 50px 0
}

.rounded-border {
  border-radius: var(--border-radius);
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
	text-align: right;
}

.justify-end {
  justify-content: flex-end;
}

#main-menu-mobile {
  font-size: 30px;
  display: none;
}

/* GRID */
.container-fluid {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.row > div {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

/* PAGE */
header .row {
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 15px;
}

header ul li a {
  color: var(--white);
  text-decoration: none;
}

.form-box {
  width: 300px; 
  padding: 15px;
}

.form-box input {
  margin-bottom: 10px;
}

.form-box  small {
  color: var(--grey-50);
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.btn-mobile {
  margin-top: 30px;
  display: none;
}

#clients {
  justify-content: center;
}

#clients > div {
	flex: 0 0 200px;
	height: 150px; 
  margin-bottom: 25px;
  margin: 10px;
	background-color:var(--grey-50);
}

#banner-cta {
	background-image: url(../img/man-macbook.png);
	background-size: 800px;
	background-repeat: no-repeat;
}

.box-image {
	height: 300px; 
	background-color:var(--grey-50);
}